@using MvcApplication8.Models
@model IEnumerable<AbbigliamentoECommerce.Models.Product>



@foreach (var item in Model)
{
    <br />
    <fieldset>
        <div class="row">
            <div class="col-md-3">

                <dl class="dl-horizontal">
                    @Html.Image(item.Image, "alt", "100")
                </dl>
            </div>
            <div class="col-md-3">

                <dl class="dl-horizontal">
                    <dt>
                        @Html.ActionLink(item.ProductName, "Detail", "Product", new { pId = item.Id }, null)
                    </dt>
                    <dt>
                        @Html.DisplayFor(modelItem => item.Price)
                    </dt>
                    <dd>
                        @Html.DisplayFor(modelItem => item.Description)
                    </dd>
                </dl>
            </div>
        </div>



        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@

    </fieldset>

}

@Html.ActionLink("Aggiungi Prodotto", "Create","Product",null, new { @class = "btn btn-login pull-right" })

