@model AbbigliamentoECommerce.Models.FilterStatistics

<div class="row">

    <fieldset>
        <legend>FilterStatistics:</legend>

        <div class="row">
            <div class="col-md-3">

                <dl class="dl-horizontal">
                 
                    <dt>
                        @Html.LabelFor(model => model.Datastart, htmlAttributes: new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.Datastart, new
                   {
                       @class = "datepicker",
                       type = "datetime-local"
                   })
                        @Html.ValidationMessageFor(model => model.Datastart, "", new { @class = "text-danger" })
                    </dd>
                </dl>
            </div>
            <div class="col-md-3">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.LabelFor(model => model.DataEnd, htmlAttributes: new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.DataEnd, new
                   {
                       @class = "datepicker",
                       type = "datetime-local"
                   })
                        @Html.ValidationMessageFor(model => model.DataEnd, "", new { @class = "text-danger" })
                    </dd>
                </dl>
            </div>
            <div class="col-md-3">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                    </dt>

                    <dd>
                        @Html.DropDownListFor(model => model.Category,
                          new SelectList(
               Model.Categories.Select(x => new { Value = x.Description, Text = x.Description }),
               "Value",
               "Text", Model.Category),"Seleziona Categoria")
                        @*@Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                    </dd>

                </dl>
            </div>
        </div>
    </fieldset>
</div>


