<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.ActionLink("HomeBtn", "Index", "Home", new { area = "" }, new { @class = "HomeBtn" })
                        </li>
                        @if (Session["CurrentUser"] != null && Session["Ruolo"].ToString() == "BackOffice")
                        {
                            <li class="dropdown">

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Statistiche<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">@Html.ActionLink("Prodotto più venduto", "ViewStatistic", "Statistic", new { pNameStatistic = "BestSellingProduct" }, null)</a></li>
                                    <li><a href="#">@Html.ActionLink("Marca più venduto", "ViewStatistic", "Statistic", new { pNameStatistic = "BestSellingBrand" }, null)</a></li>
                                    <li><a href="#">@Html.ActionLink("Incasso per categoria", "ViewStatistic", "Statistic", new { pNameStatistic = "GainByCategory" }, null)</a></li>
                                    <li><a href="#">@Html.ActionLink("Utenti Registrati", "ViewStatistic", "Statistic", new { pNameStatistic = "UserRegistred" }, null)</a></li>
                                    <li><a href="#">@Html.ActionLink("Inserisci Prodotto", "Create", "Product")</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div><!-- /.navbar-collapse -->

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="jumbotron">
            <h1>E-Commerce Abbigliamento</h1>

            @if (Session["CurrentUser"] != null)
            {

                <h4>
                    Benvenuto,  @(((AbbigliamentoECommerce.Models.LoggedUser)Session["CurrentUser"]).wDetailUser.Name)
                </h4>
                @Html.ActionLink("ViewCart", "Details", "Cart", null, new { @class = "CartBtn" })
                @Html.ActionLink("Logout", "Logout", "Home")
            }
            else
            {
                @Html.ActionLink("Login", "Login", "Home", null, new { @class = "btn btn-default pull-right" })
                @Html.ActionLink("Registrazione", "Create", "User", null, new { @class = "btn btn-default pull-right" })
            }
        </div>

        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
