@using MvcApplication8.Models
@model IEnumerable<AbbigliamentoECommerce.Models.Product>

@{
    int pagePrev = ViewBag.PagePrev ?? 0;
    int pageSucc = ViewBag.PageSucc ?? 4;
}

@foreach (var item in Model)
{
    <br />
    <fieldset>
        <div class="row">
            <div class="col-md-3">

                <dl class="dl-horizontal">
                    @Html.Image(item.Image, "alt", "100")
                </dl>
            </div>
            <div class="col-md-3">

                <dl class="dl-horizontal">
                    <dt>
                        @Html.ActionLink(item.ProductName, "Detail", "Product", new { pId = item.Id }, null)
                    </dt>
                    <dt>
                        @Html.DisplayFor(modelItem => item.Price)€
                    </dt>
                    <dd>
                        @Html.DisplayFor(modelItem => item.Description)
                    </dd>
                </dl>
            </div>
        </div>

    </fieldset>

}

@if (Session["Ruolo"] != null && Session["Ruolo"].ToString() == "BackOffice")
{
    @Html.ActionLink("Aggiungi Prodotto", "Create", "Product", null, new { @class = "btn btn-default pull-right" })
}

